Source: icinga-plugins-extra-apps
Section: admin
Priority: extra
Maintainer: Mathieu Bouchard <mbouchar@gmail.com>
Build-Depends: debhelper (>= 9), python-all (>= 2.7), dh-python, python-setuptools
Standards-Version: 3.9.6
Homepage: https://github.com/mbouchar/icinga-scripts

Package: icinga-plugins-extra-apps
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python (>= 2.7)
Description: Additional nagios scripts
 This package contains additional icinga/nagios scripts that are used
 to monitor extra applications. Included is a script to monitor
 available memory and Apache Solr.
